body{
	margin: 0px;
    text-align: center;
    margin-top: 10vh;
    background-color:#74B9FF;
    font-family:sans-serif;
}
#choose{
    padding: 3px;
    border: 2px solid black;
    width: 200px;
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#s1{
    position: absolute;
    width: 900px;
    top: 10%;
    left: 50%;
  transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    font-family:  sans-serif;
}
#s2{
    position: absolute;
    width: 900px;
    top: 20%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: white;
    font-family:  sans-serif;
} 
#s3{
    position: absolute;
   width: 900px;
   top: 30%;
   left: 48%;
   padding:10vh;
   transform: translate(-50%, -50%);
   font-size: 20px;
   font-style: italic;
   color: black;
   font-family:  sans-serif;

} 
#s4{
    position: absolute;
    width: 900px;
    top: 40%;
    left: 50%;
  transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    font-family:  sans-serif;
}
#s5{
    position: absolute;
    width: 900px;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: black;
    font-family:  sans-serif;
} 
#s6{
    position: absolute;
    width: 900px;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: black;
    font-family:  sans-serif;
}
#s7{
    position: absolute;
    width: 900px;
    top: 55%;
    margin-top: 3vh;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: black;
    font-family:  sans-serif;
}
#s8{
    position: absolute;
    width: 900px;
    top: 60%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: green;
    font-family:  sans-serif;
}
#s9{
    position: absolute;
    width: 900px;
    top: 65%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: red;
    font-family:  sans-serif;
}
#s10{
    position: absolute;
    width: 900px;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: black;
    font-family:  sans-serif;
}


#correctans{
    position: absolute;
    width: 900px;
    top: 90%;
    left: 48%;
    padding:20vh;
    padding:4vh;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: black;
    font-family:  sans-serif;
}