body{
	margin: 0px;
    text-align: center;
    margin-top: 10vh;
    background-color:#74B9FF;
    font-family:sans-serif;
}
#selection{
    padding: 3px;
    border: 2px solid black;
    width: 200px;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#s3{
    position: absolute;
   width: 900px;
   top: 55%;
   left: 48%;
   padding:10vh;
   transform: translate(-50%, -50%);
   font-size: 20px;
   font-style: italic;
   color: black;
   font-family:  sans-serif;

} 
#s1{
    position: absolute;
    width: 900px;
    top: 30%;
    left: 50%;
  transform: translate(-50%, -50%);
    font-size: 23px;
    color: white;
    font-family:  sans-serif;
}
#s2{
    position: absolute;
    width: 900px;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-style: italic;
    color: white;
    font-family:  sans-serif;
} 
